@keyframes arrowOne {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 1em);
  }
}
@keyframes arrowTwo {
  from {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 1em);
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.6rem;
  background-color: #333;
  color: white;
}

.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  height: 100vh;
  background-image: url("../img/header-phone-service2.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.header .arrow {
  position: absolute;
  bottom: 2.5em;
  width: 100%;
  height: 10em;
  text-align: center;
}
.header .arrow img {
  position: absolute;
  width: 10em;
  height: 10em;
}
.header .arrow-one {
  animation: arrowOne 1.25s infinite alternate;
}
.header .arrow-two {
  animation: arrowTwo 1.25s infinite alternate;
}
.header .logo {
  position: absolute;
  width: 15em;
  height: 15em;
  top: -3em;
}
.header-nav {
  position: relative;
  top: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav .nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.header-nav .nav-list .nav-item {
  padding: 1em;
  font-size: 2.3rem;
  text-shadow: 0px 0px 10px rgba(3, 3, 3, 0.9);
  cursor: pointer;
}
.header-nav .nav-list .nav-item a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.header-nav .nav-list .nav-item:hover a {
  color: #f7b939;
}
.header-text {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.header-text .title {
  font-family: "Oswald", sans-serif;
  line-height: 130%;
  letter-spacing: 6px;
  font-weight: normal;
  font-size: 8.4rem;
}
.header-text .text-under {
  font-size: 2rem;
}
.header-text .line {
  position: relative;
  margin-left: 0.5em;
  top: -0.4em;
  height: 3px;
  width: 35%;
  background-color: #fff;
}
.header-text .text-under,
.header-text .line {
  display: inline-block;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.services {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
}
.services .line {
  margin-top: 5px;
  height: 2px;
  width: 50px;
  background-color: #f7b939;
  transition: width 0.3s;
}
.services .service-text {
  display: block;
}
.services .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 50px 0;
  text-align: center;
  background-color: #222121;
}
.services .service:hover .line {
  width: 80px;
}
.services .groupOne,
.services .groupTwo,
.services .groupThree {
  display: flex;
  flex-direction: column;
}

.carousel-text {
  display: none;
  background-color: #2e2b2b;
  margin-top: 40px;
  padding: 30px;
  text-align: center;
  font-size: 18px;
}
.carousel-text .text-decoration {
  font-weight: bold;
  color: #f7b939;
}

html {
  font-family: system-ui;
  background: #3d76d9;
}

.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
}

.container {
  display: none;
  overflow: hidden;
  padding: 20px;
  margin-top: 2em;
}

.card-carousel {
  display: none;
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 350px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
  }
}
.card-carousel.smooth-return {
  transition: all 0.2s ease;
}

.card-carousel .card {
  background: #f7b939;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  transition: inherit;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  filter: brightness(0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .card-title {
  margin-top: -1em;
  text-align: center;
  color: black;
}
.card .card-text {
  margin-top: 20px;
  color: #333;
}

.card.highlight {
  filter: brightness(1);
}

.card:nth-of-type(1) .image-container {
  background-image: url("https://static.addtoany.com/images/dracaena-cinnabari.jpg");
}

.card:nth-of-type(2) .image-container {
  background-image: url("https://www.w3schools.com/w3css/img_lights.jpg");
}

.card:nth-of-type(3) .image-container {
  background-image: url("https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.card:nth-of-type(4) .image-container {
  background-image: url("https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.card:nth-of-type(5) .image-container {
  background-image: url("https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg");
}

.image-container {
  width: 8em;
  height: 8em;
  position: relative;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
  padding: 1em;
  box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}

h2 {
  padding: 1em;
  margin-top: 1em;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  border-radius: 0.2em;
  display: inline-block;
  transform: translateX(calc((100vw - 100%) / 2));
}

h2 a {
  color: #f5b916;
}

@media (width <= 786px) {
  .header .header-text .title {
    font-size: 6.4rem;
  }
  .header .header-text .text-under {
    font-size: 2rem;
  }
  .header-nav .nav-list .nav-item {
    font-size: 1.8rem;
  }
  .container {
    display: block;
  }
  .card-carousel, .carousel-text {
    display: inline-block;
  }
  .services {
    display: none;
  }
}
@media (width <= 576px) {
  .header .header-text {
    top: 65%;
  }
  .header .header-text .title {
    font-size: 4.7rem;
    padding-bottom: 0.3em;
  }
  .header .header-text .text-under {
    font-size: 1.8rem;
  }
  .header-nav {
    display: none;
  }
  .header .arrow {
    bottom: 4em;
    height: 6em;
  }
  .header .arrow img {
    width: 7em;
    height: 7em;
  }
}
@media (width >= 576px) {
  .about-us .section-title {
    font-size: 2.7rem;
    padding: 1.5em 2em;
  }
  .about-us .section-title::before {
    top: 1em;
    left: 1em;
  }
  .about-us__text {
    font-size: 2rem;
  }
}
@media (width >= 992px) {
  .about-us .section-title {
    font-size: 3.2rem;
    padding: 1.5em 2em;
  }
  .about-us .section-title::before {
    top: 1.2em;
    left: 1em;
  }
  .about-us__text {
    padding-right: 1em;
    max-width: 60%;
    font-size: 2rem;
  }
  .about-us .wrapper {
    display: flex;
    justify-content: end;
  }
}/*# sourceMappingURL=service.css.map */