@keyframes arrowOne {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 1em);
  }
}
@keyframes arrowTwo {
  from {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 1em);
    opacity: 1;
  }
}
:root {
  --background-color: #333;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.6rem;
  background-color: var(--background-color);
  color: white;
}

.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  height: 100vh;
  background-image: url("../img/header-phone-service2.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.header .arrow {
  position: absolute;
  bottom: 2.5em;
  width: 100%;
  height: 10em;
  text-align: center;
}
.header .arrow img {
  position: absolute;
  width: 10em;
  height: 10em;
}
.header .arrow-one {
  animation: arrowOne 1.25s infinite alternate;
}
.header .arrow-two {
  animation: arrowTwo 1.25s infinite alternate;
}
.header .logo {
  position: absolute;
  width: 15em;
  height: 15em;
  top: -3em;
}
.header-nav {
  position: relative;
  top: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav .nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.header-nav .nav-list .nav-item {
  padding: 1em;
  font-size: 2.3rem;
  text-shadow: 0px 0px 10px rgba(3, 3, 3, 0.9);
  cursor: pointer;
}
.header-nav .nav-list .nav-item a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.header-nav .nav-list .nav-item:hover a {
  color: #f7b939;
}
.header-text {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.header-text .title {
  font-family: "Oswald", sans-serif;
  line-height: 130%;
  letter-spacing: 6px;
  font-weight: normal;
  font-size: 8.4rem;
}
.header-text .text-under {
  font-size: 2rem;
}
.header-text .line {
  position: relative;
  margin-left: 0.5em;
  top: -0.4em;
  height: 3px;
  width: 35%;
  background-color: #fff;
}
.header-text .text-under,
.header-text .line {
  display: inline-block;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.services {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
}
.services .line {
  margin-top: 5px;
  height: 2px;
  width: 50px;
  background-color: #f7b939;
  transition: width 0.3s;
}
.services .service-text {
  display: block;
}
.services .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 50px;
  text-align: center;
  background-color: #222121;
}
.services .service:hover .line {
  width: 80px;
}
.services .groupOne,
.services .groupTwo,
.services .groupThree {
  display: flex;
  flex-direction: column;
}

.carousel {
  display: none;
}
.carousel .carousel-text {
  margin-top: 40px;
  background-color: #222121;
  text-align: center;
}
.carousel .carousel-text .text-dec {
  color: #f7b939;
}
.carousel .carousel-text .p-text {
  padding: 10px;
}

.carousel-wrap {
  position: relative;
  margin: 40px auto;
  padding: 0 5%;
  width: 80%;
  /* fix blank or flashing items on carousel */
  /* end fix */
}
.carousel-wrap .line {
  margin-top: 5px;
  height: 2px;
  width: 50px;
  background-color: #f7b939;
  margin-left: auto;
  margin-right: auto;
}
.carousel-wrap .yellowBGC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transition: transform 0.8s, opacity 0.8s;
  width: 100%;
  height: 100%;
  background-color: #f7b939;
  opacity: 0;
}
.carousel-wrap .item:hover .yellowBGC {
  opacity: 1;
}
.carousel-wrap .text {
  transition: opacity 0.8s;
}
.carousel-wrap .item:hover .text {
  opacity: 0;
}
.carousel-wrap .yellowBGC h2 {
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  transition: 0.8s;
}
.carousel-wrap p {
  font-size: 13px;
  padding: 20px;
  color: #333;
  font-weight: bold;
}
.carousel-wrap .owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222121;
  color: white;
  height: 300px;
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.8s, opacity 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.carousel-wrap .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}
.carousel-wrap .owl-nav i {
  font-size: 52px;
}
.carousel-wrap .owl-nav .owl-prev {
  left: -30px;
}
.carousel-wrap .owl-nav .owl-next {
  right: -30px;
}

@media (max-width: 786px) {
  .header .header-text .title {
    font-size: 6.4rem;
  }
  .header .header-text .text-under {
    font-size: 2rem;
  }
  .header-nav .nav-list .nav-item {
    font-size: 1.8rem;
  }
  .carousel {
    display: block;
  }
}
@media (max-width: 699px) {
  .carousel-wrap p {
    font-size: 11px;
    padding: 10px;
  }
}
@media (max-width: 900px) {
  .services {
    display: none;
  }
}
@media (max-width: 576px) {
  .header .header-text .title {
    font-size: 4.7rem;
    padding-bottom: 0.3em;
  }
  .header .header-text .text-under {
    font-size: 1.8rem;
  }
  .header-nav {
    display: none;
  }
}/*# sourceMappingURL=service.css.map */