@keyframes arrowOne {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 1em);
  }
}
@keyframes arrowTwo {
  from {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 1em);
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  background-color: #333;
  color: white;
}

ol,
ul {
  padding-left: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.outer-image-box,
.mixed-background,
.isolated-img {
  -webkit-clip-path: polygon(0 0, 79% 17%, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 79% 17%, 100% 100%, 0 80%);
  z-index: 10;
}

.outer-image-box {
  position: absolute;
  top: 70em;
  left: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 57em;
  background: #f7b939;
}
.outer-image-box .mixed-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f7b939;
}
.outer-image-box .isolated-img {
  isolation: isolate;
  width: 99%;
  height: 99%;
}
.outer-image-box .isolated-img img.outer-section-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shadow-line {
  position: absolute;
  bottom: 0;
  transform: translateY(60%);
  width: 120%;
  height: 4em;
  filter: blur(10px);
  background-color: #f7b939;
  z-index: 10;
}

.section-title {
  position: relative;
  text-align: left;
  margin: 0 auto;
  padding: 1.5em 0.5em;
  max-width: 1440px;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.section-title::before {
  content: "";
  position: absolute;
  top: 0.8em;
  left: 0em;
  width: 77px;
  height: 32px;
  background-color: white;
  transform: skew(-30deg);
  z-index: -1;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: -100%;
  padding: 0 2em;
  height: 6.3em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.627);
  transition: top 0.3s ease-in-out, height 0.3s;
  z-index: 10000;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  width: 100%;
  height: 100%;
  max-width: 1440px;
}
.nav__logo {
  height: 100%;
}
.nav__logo img {
  height: 100%;
  scale: 1.5;
}
.nav__phone {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
.nav__phone-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
}
.nav__phone-icon img {
  width: 100%;
  height: 100%;
}
.nav__phone p {
  font-size: 2rem;
  margin: 0;
  color: #f7b939;
}
.nav__list {
  display: none;
  list-style: none;
}
.nav__list a {
  font-size: 2rem;
  color: white;
  padding-right: 2em;
  text-decoration: none;
  transition: color 0.3s;
}
.nav__list a:hover {
  color: #f7b939;
}
.nav__item:last-child a {
  padding-right: 0;
}
.nav__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  border: none;
  background-color: transparent;
}
.nav__btn__line, .nav__btn::before, .nav__btn::after {
  content: "";
  width: 40px;
  height: 8px;
  background-color: #f7b939;
  transform: skewX(20deg);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.nav__btn.is-opened .nav__btn__line {
  opacity: 0;
}
.nav__btn.is-opened::before {
  transform: translateY(14px) rotate(135deg) skewX(20deg);
}
.nav__btn.is-opened::after {
  transform: translateY(-14px) rotate(-135deg) skewX(20deg);
}
.nav.opened {
  background-color: #403f3e;
  height: 100vh;
}
.nav.opened .nav__logo,
.nav.opened .nav__phone {
  display: none;
}
.nav.opened .nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
.nav.opened .nav__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  padding: 1em;
}
.nav.opened .nav__btn {
  position: absolute;
  right: 2em;
  top: 2em;
}
.nav.opened .nav__container {
  justify-content: center;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  height: 100vh;
  background-image: url("../img/header-img.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}
.header .arrow {
  position: absolute;
  bottom: 3.5em;
  width: 100%;
  height: 10em;
  text-align: center;
}
.header .arrow img {
  position: absolute;
  width: 10em;
  height: 10em;
}
.header .arrow-one {
  animation: arrowOne 1.25s infinite alternate;
}
.header .arrow-two {
  animation: arrowTwo 1.25s infinite alternate;
}
.header .wrapper {
  height: 100%;
}
.header .logo {
  position: absolute;
  width: 15em;
  height: 15em;
  top: -3em;
}
.header-nav {
  position: relative;
  top: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav .nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.header-nav .nav-list .nav-item, .header-nav .nav-list .nav__item {
  padding: 1em;
  font-size: 2.3rem;
  text-shadow: 0px 0px 10px rgba(3, 3, 3, 0.9);
  cursor: pointer;
}
.header-nav .nav-list .nav-item a, .header-nav .nav-list .nav__item a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.header-nav .nav-list .nav-item:hover a, .header-nav .nav-list .nav__item:hover a {
  color: #f7b939;
}
.header-text {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.header-text .title {
  font-family: "Oswald", sans-serif;
  line-height: 130%;
  letter-spacing: 6px;
  font-weight: normal;
  font-size: 8.4rem;
}
.header-text .text-under {
  font-size: 2rem;
}
.header-text .line {
  position: relative;
  margin-left: 0.5em;
  top: -0.4em;
  height: 3px;
  width: 35%;
  background-color: #fff;
}
.header-text .text-under,
.header-text .line {
  display: inline-block;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.about-us {
  position: relative;
  padding: 2em;
  --p: 3em;
  height: 36em;
  aspect-ratio: 1%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--p)), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--p)), 0 100%);
  background: #f7b939;
  background-blend-mode: difference;
  z-index: 10;
}
.about-us__text {
  text-align: center;
  color: black;
}

.section-ofert {
  position: relative;
  padding: 2em 0 12em 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
  margin-top: -3em;
  width: 100%;
  background-color: #222121;
  z-index: 9;
}
.section-ofert .section-title {
  text-align: right;
  padding: 1.5em 2em;
  font-size: 2.2em;
  color: #fff;
}
.section-ofert .section-title::before {
  top: 1.3em;
  left: auto;
  right: 1em;
  background-color: #f7b939;
  transform: skew(30deg);
}
.section-ofert .wrapper {
  display: flex;
  justify-content: right;
}
.section-ofert .wrapper .whole-box-ofert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  padding-right: 5%;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #f7b939;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .one {
  background-image: url("../img/oferts/wywrotka.jpg");
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .two {
  background-image: url("../img/oferts/Robiorki.jpg");
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .three {
  background-image: url("../img/oferts/PraceZiemnee.jpg");
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .ofert-title {
  font-size: 18px;
  position: absolute;
  text-align: center;
  top: 10em;
}
.section-ofert .ofert-button {
  font-family: "PT Sans";
  position: relative;
  bottom: -5em;
  width: 200px;
  height: 60px;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 15px #eb5f33;
  color: #fff;
  background-color: #eb5f33;
  cursor: pointer;
  transition: all 0.3s ease;
}
.section-ofert .ofert-button::after, .section-ofert .ofert-button::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.5s ease;
}
.section-ofert .ofert-button::after {
  bottom: 0;
  right: 0;
}
.section-ofert .ofert-button::before {
  top: 0;
  left: 0;
}
.section-ofert .ofert-button:hover::after {
  bottom: -10px;
  right: -10px;
  border-bottom: 2px solid #eb5f33;
  border-right: 2px solid #eb5f33;
}
.section-ofert .ofert-button:hover::before {
  top: -10px;
  left: -10px;
  border-top: 2px solid #eb5f33;
  border-left: 2px solid #eb5f33;
}

.scale-down {
  -o-object-fit: scale-down !important;
     object-fit: scale-down !important;
}

.machinery {
  position: relative;
  top: -8.1em;
  padding: 4em 2em 10em 2em;
  --p: 0em;
  aspect-ratio: 1%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 calc(100% - var(--p)));
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0 calc(100% - var(--p)));
  background: #403f3e;
  z-index: 8;
}
.machinery .section-title {
  color: white;
}
.machinery .section-title::before {
  background-color: #f7b939;
}
.machinery__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.machinery__box {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.machinery__item {
  position: relative;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 15em;
  background-color: rgba(0, 0, 0, 0.6);
  transform: skewY(7deg);
}
.machinery__item.expanded {
  height: 110%;
}
.machinery__item.expanded .machinery__title {
  padding-top: 1.35em;
}
.machinery__item:first-child {
  margin-top: 0;
}
.machinery__title, .machinery__icon {
  transform: skewY(-7deg);
}
.machinery__title {
  padding-top: 1em;
  font-size: 2rem;
  color: white;
}
.machinery__icon {
  width: 10em;
  height: 10em;
  opacity: 0.8;
}
.machinery__icon img {
  width: 100%;
  height: 100%;
}
.machinery__icon--small {
  display: flex;
  justify-content: center;
  align-items: center;
}
.machinery__icon--small img {
  width: 75%;
  height: 75%;
}
.machinery__content {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  width: 100%;
}
.machinery__content-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  width: 80%;
  height: 10em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.machinery__content-item img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  z-index: 1;
}
.machinery__content-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 3;
}
.machinery__content-item:last-child {
  margin-bottom: 0.5em;
}
.machinery__content-item:hover .machinery__content-title {
  opacity: 1;
}
.machinery__content-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 4;
  opacity: 0;
  transition: opacity 0.3s;
}
.machinery__content-title p {
  font-size: 2.6rem;
}
.machinery__triangle {
  position: relative;
  width: 1.3em;
  bottom: 0.2em;
  aspect-ratio: 1/0.8660254038;
  -webkit-clip-path: polygon(50% 100%, 100% 0, 0 0);
          clip-path: polygon(50% 100%, 100% 0, 0 0);
  transform: rotate(0deg);
  background-color: white;
  transition: transform 0.5s ease-in-out;
}
.machinery__triangle--active {
  --b: 6px;
  width: 1.3em;
  aspect-ratio: 1/0.8660254038;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%, 50% 0, 50% var(--b), calc(var(--b) * 0.8660254038) calc(100% - var(--b) / 2), calc(100% - var(--b) * 0.8660254038) calc(100% - var(--b) / 2), 50% var(--b));
          clip-path: polygon(50% 0, 100% 100%, 0 100%, 50% 0, 50% var(--b), calc(var(--b) * 0.8660254038) calc(100% - var(--b) / 2), calc(100% - var(--b) * 0.8660254038) calc(100% - var(--b) / 2), 50% var(--b));
  background-color: white;
  transform: rotate(360deg);
}

.realisations {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-color: #f7b939;
  top: -16em;
  position: relative;
  padding-top: 80px;
}
.realisations:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0%;
  background-color: #ddd;
}

.row {
  padding-top: 3em;
}

.owl-dots {
  position: relative;
  top: -50px; /* Adjust this value as needed */
}

#customers-testimonials .item-details {
  position: relative;
  text-align: center;
  padding: 20px 10px;
  height: 130px;
  background-color: #333333;
  color: #fff;
}
#customers-testimonials .item-details h5 {
  margin: 0 0 15px;
  font-size: 25px;
  font-weight: bold;
  line-height: 18px;
}
#customers-testimonials .item-details h5 span {
  color: red;
  float: right;
  padding-right: 20px;
}
#customers-testimonials .item-details p {
  position: absolute;
  bottom: 0;
  right: 15px;
  font-size: 14px;
}
#customers-testimonials .img {
  background-image: url("../img/realisation.png");
  background-position: center;
  background-size: cover;
  height: 250px;
  background-color: #fff;
}
#customers-testimonials .item {
  text-align: center;
  margin-bottom: 80px;
  background-image: url("../img/realisation2.png");
}

.owl-carousel .item {
  position: relative;
  padding: 15px;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.owl-carousel .item .img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.owl-carousel .item .item-details {
  padding: 10px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  background-color: #222121;
  text-align: center;
  position: relative;
  padding: 10em 2em 2em 2em;
  top: -15em;
}
.footer div {
  text-align: center;
}
.footer p {
  margin-top: 15px;
}
.footer p:first-child {
  margin-top: 0;
}
.footer .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 3em;
}

@media (width <= 1300px) {
  .section-ofert .wrapper .whole-box-ofert .box-ofert .ofert {
    width: 130px;
    height: 130px;
  }
  .section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .ofert-title {
    top: 8em;
  }
  .section-ofert .ofert-button {
    bottom: -8em;
  }
}
@media (width <= 992px) {
  .machinery .machinery__content-title {
    opacity: 1;
  }
  .nav .container {
    padding: 0;
  }
  .outer-image-box {
    top: 80em;
    height: 38em;
    width: 60%;
  }
  .about-us {
    height: 28em;
  }
  .section-ofert .section-title {
    font-size: 1.8em;
  }
  .section-ofert .wrapper .whole-box-ofert .box-ofert .first {
    display: none;
  }
}
@media (width <= 867px) {
  .section-ofert .wrapper .whole-box-ofert {
    padding-right: 6%;
  }
  .section-ofert .wrapper .whole-box-ofert .box-ofert .second {
    display: none;
  }
}
@media (width <= 786px) {
  .machinery__content-title p {
    font-size: 2rem;
  }
  nav__phone {
    left: 55%;
  }
  .header .header-text .title {
    font-size: 6.4rem;
  }
  .header .header-text .text-under {
    font-size: 2rem;
  }
  .header-nav .nav-list .nav-item {
    font-size: 1.8rem;
  }
  .container {
    display: block;
  }
  .card-carousel,
  .carousel-text {
    display: inline-block;
  }
  .services {
    display: none;
  }
}
@media (width <= 576px) {
  .header .header-text {
    top: 65%;
  }
  .header .header-text .title {
    font-size: 4.7rem;
    padding-bottom: 0.3em;
  }
  .header .header-text .text-under {
    font-size: 1.8rem;
  }
  .header-nav,
  .header .logo {
    display: none;
  }
  .header .arrow {
    bottom: 4em;
    height: 6em;
  }
  .header .arrow img {
    width: 7em;
    height: 7em;
  }
  .about-us {
    height: 22em;
  }
  .section-ofert {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
  }
  .section-ofert .wrapper {
    justify-content: center;
  }
  .section-ofert .wrapper .whole-box-ofert {
    padding-right: 0;
  }
  .section-ofert .wrapper .whole-box-ofert .box-ofert .second {
    display: flex;
  }
  .machinery {
    top: -5em;
    --p: 3em;
  }
  .realisations {
    top: -12em;
  }
}
@media (width <= 440px) {
  .about-us {
    height: 29em;
  }
}
@media (width >= 577px) {
  .about-us__text {
    font-size: 2rem;
  }
}
@media (width >= 576px) {
  .nav__phone {
    display: flex;
  }
  .machinery .section-title {
    padding: 1.5em 1em;
  }
  .machinery .section-title::before {
    left: 0.2em;
  }
  .machinery__inner-wrapper {
    position: relative;
    height: 6em;
    top: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .machinery__item {
    position: relative;
    width: 90%;
    height: 6em;
    transform: skewY(0);
  }
  .machinery__item.expanded .machinery__title {
    padding-top: 0;
  }
  .machinery__title, .machinery__icon {
    transform: skewY(0);
  }
  .machinery__icon {
    position: relative;
    left: 2em;
    width: 5em;
    height: 5em;
    opacity: 1;
  }
  .machinery__title {
    position: absolute;
    left: 9em;
    padding-top: 0;
    font-size: 1.8rem;
  }
  .machinery__triangle {
    right: 2em;
    bottom: auto;
  }
  .machinery__content {
    position: relative;
    width: 100%;
    padding: 1em 0.2em 2em 0.2em;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
  .machinery__content-item {
    width: 12em;
    height: 12em;
    margin: 0.5em;
  }
  .section-title {
    font-size: 2.7rem;
    padding: 1.5em 2em;
  }
  .section-title::before {
    top: 1em;
    left: 1em;
  }
}
@media (width >= 786px) {
  .machinery__content-item {
    width: 18em;
    height: 18em;
  }
}
@media (width >= 992px) {
  .footer .box {
    flex-direction: row;
    gap: 5em;
  }
  .machinery__content-item {
    width: 20em;
    height: 20em;
  }
  .section-title {
    font-size: 3.2rem;
    padding: 1.5em 5em;
  }
  .section-title::before {
    top: 1.2em;
    left: 4em;
  }
  .about-us__text {
    padding-right: 1em;
    max-width: 60%;
    font-size: 2rem;
  }
  .about-us .wrapper {
    display: flex;
    justify-content: end;
  }
}
@media (width >= 1150px) {
  .footer .box {
    gap: 10em;
    max-width: 1440px;
  }
  .nav__btn {
    display: none;
  }
  .nav__list {
    display: flex;
  }
  .nav__phone {
    position: relative;
    transform: translateX(0);
    left: auto;
    order: 1;
  }
  .nav__logo img {
    scale: 2;
  }
}
@media (width >= 1440px) {
  .nav__list a {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */