@charset "UTF-8";
@keyframes arrowOne {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 1em);
  }
}
@keyframes arrowTwo {
  from {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 1em);
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.6rem;
  background-color: #333;
  color: white;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.outer-image-box,
.mixed-background,
.isolated-img {
  -webkit-clip-path: polygon(0 0, 79% 17%, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 79% 17%, 100% 100%, 0 80%);
  z-index: 10;
}

.outer-image-box {
  position: absolute;
  top: 70em;
  left: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 37em;
  background: #f7b939;
}
.outer-image-box .mixed-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f7b939;
}
.outer-image-box .isolated-img {
  isolation: isolate;
  width: 99%;
  height: 99%;
}
.outer-image-box .isolated-img img.outer-section-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shadow-line {
  position: absolute;
  bottom: 0;
  transform: translateY(60%);
  width: 120%;
  height: 4em;
  filter: blur(10px);
  background-color: #f7b939;
  z-index: 10;
}

.section-title {
  position: relative;
  text-align: left;
  margin: 0 auto;
  padding: 1.5em 0.5em;
  max-width: 1440px;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: black;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.section-title::before {
  content: "";
  position: absolute;
  top: 0.8em;
  left: 0em;
  width: 77px;
  height: 32px;
  background-color: white;
  transform: skew(-30deg);
  z-index: -1;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  height: 100vh;
  background-image: url("../img/header-img.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}
.header .arrow {
  position: absolute;
  bottom: 3.5em;
  width: 100%;
  height: 10em;
  text-align: center;
}
.header .arrow img {
  position: absolute;
  width: 10em;
  height: 10em;
}
.header .arrow-one {
  animation: arrowOne 1.25s infinite alternate;
}
.header .arrow-two {
  animation: arrowTwo 1.25s infinite alternate;
}
.header .wrapper {
  height: 100%;
}
.header .logo {
  position: absolute;
  width: 15em;
  height: 15em;
  top: -3em;
}
.header-nav {
  position: relative;
  top: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav .nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.header-nav .nav-list .nav-item {
  padding: 1em;
  font-size: 2.3rem;
  text-shadow: 0px 0px 10px rgba(3, 3, 3, 0.9);
  cursor: pointer;
}
.header-nav .nav-list .nav-item a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.header-nav .nav-list .nav-item:hover a {
  color: #f7b939;
}
.header-text {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.header-text .title {
  font-family: "Oswald", sans-serif;
  line-height: 130%;
  letter-spacing: 6px;
  font-weight: normal;
  font-size: 8.4rem;
}
.header-text .text-under {
  font-size: 2rem;
}
.header-text .line {
  position: relative;
  margin-left: 0.5em;
  top: -0.4em;
  height: 3px;
  width: 35%;
  background-color: #fff;
}
.header-text .text-under,
.header-text .line {
  display: inline-block;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.about-us {
  position: relative;
  padding: 2em;
  --p: 3em;
  height: 36em;
  aspect-ratio: 1%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--p)), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--p)), 0 100%);
  background: #f7b939;
  background-blend-mode: difference;
  z-index: 10;
}
.about-us__text {
  text-align: center;
  color: black;
}

.section-ofert {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
  margin-top: -3em;
  height: 600px;
  width: 100%;
  background-color: #222121;
  z-index: 9;
}
.section-ofert .section-title {
  text-align: right;
  padding: 1.5em 2em;
  font-size: 2.2em;
  color: #fff;
}
.section-ofert .section-title::before {
  top: 1.3em;
  left: auto;
  right: 1em;
  background-color: #f7b939;
  transform: skew(30deg);
}
.section-ofert .wrapper {
  display: flex;
  justify-content: right;
}
.section-ofert .wrapper .whole-box-ofert {
  position: relative;
  height: 300px;
  width: 700px;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert {
  display: flex;
  justify-content: space-evenly;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #f7b939;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .one {
  background-image: url("../img/Wywrotka.jpg");
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .two {
  background-image: url("../img/rozbiórki.jpg");
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .three {
  background-image: url("../img/digger.jpg");
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .ofert-title {
  font-size: 18px;
  position: absolute;
  text-align: center;
  top: 10em;
}
.section-ofert .ofert-button {
  font-family: "PT Sans";
  position: absolute;
  right: 50%;
  bottom: -30px;
  width: 200px;
  height: 60px;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 15px #eb5f33;
  color: #fff;
  background-color: #eb5f33;
  transform: translateX(50%);
  cursor: pointer;
  transition: all 0.3s ease;
}
.section-ofert .ofert-button::after, .section-ofert .ofert-button::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  transition: all 0.5s ease;
}
.section-ofert .ofert-button::after {
  bottom: 0;
  right: 0;
}
.section-ofert .ofert-button::before {
  top: 0;
  left: 0;
}
.section-ofert .ofert-button:hover::after {
  bottom: -10px;
  right: -10px;
  border-bottom: 2px solid #eb5f33;
  border-right: 2px solid #eb5f33;
}
.section-ofert .ofert-button:hover::before {
  top: -10px;
  left: -10px;
  border-top: 2px solid #eb5f33;
  border-left: 2px solid #eb5f33;
}

.machinery {
  position: relative;
  top: -4em;
  padding: 4em 2em 10em 2em;
  --p: 7em;
  aspect-ratio: 1%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--p)));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--p)));
  background: #c44d58;
  z-index: 8;
}
.machinery__box {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.machinery__item {
  position: relative;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 15em;
  background-color: rgba(0, 0, 0, 0.6);
  transform: skewY(7deg);
  overflow: hidden;
}
.machinery__item.expanded {
  height: 110%;
}
.machinery__item.expanded .machinery__title {
  padding-top: 1.85em;
}
.machinery__item:first-child {
  margin-top: 0;
}
.machinery__title, .machinery__icon {
  transform: skewY(-7deg);
}
.machinery__title {
  padding-top: 1em;
  font-size: 2rem;
  color: white;
}
.machinery__icon {
  width: 10em;
  height: 10em;
}
.machinery__icon img {
  width: 100%;
  height: 100%;
}
.machinery__icon--small {
  display: flex;
  justify-content: center;
  align-items: center;
}
.machinery__icon--small img {
  width: 75%;
  height: 75%;
}
.machinery__content {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  width: 100%;
}
.machinery__content-item {
  margin-bottom: 1em;
  width: 80%;
  height: 10em;
}
.machinery__content-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.machinery__content-item:last-child {
  margin-bottom: 0.5em;
}

@media (width <= 992px) {
  .outer-image-box {
    top: 80em;
    height: 28em;
    width: 60%;
  }
  .about-us {
    height: 28em;
  }
}
@media (width <= 786px) {
  .outer-image-box {
    top: 82em;
    height: 25em;
    width: 60%;
  }
  .header .header-text .title {
    font-size: 6.4rem;
  }
  .header .header-text .text-under {
    font-size: 2rem;
  }
  .header-nav .nav-list .nav-item {
    font-size: 1.8rem;
  }
  .container {
    display: block;
  }
  .card-carousel,
  .carousel-text {
    display: inline-block;
  }
  .services {
    display: none;
  }
}
@media (width <= 576px) {
  .outer-image-box {
    display: none;
  }
  .header .header-text {
    top: 65%;
  }
  .header .header-text .title {
    font-size: 4.7rem;
    padding-bottom: 0.3em;
  }
  .header .header-text .text-under {
    font-size: 1.8rem;
  }
  .header-nav {
    display: none;
  }
  .header .arrow {
    bottom: 4em;
    height: 6em;
  }
  .header .arrow img {
    width: 7em;
    height: 7em;
  }
  .section-ofert .wrapper .whole-box-ofert .box-ofert .first {
    display: none;
  }
  .about-us {
    height: 22em;
  }
}
@media (width <= 440px) {
  .about-us {
    height: 27em;
  }
}
@media (width >= 576px) {
  .machinery__item {
    width: 80%;
    height: 6em;
    transform: skewY(0);
  }
  .machinery__title, .machinery__icon {
    transform: skewY(0);
  }
  .section-title {
    font-size: 2.7rem;
    padding: 1.5em 2em;
  }
  .section-title::before {
    top: 1em;
    left: 1em;
  }
  .about-us__text {
    font-size: 2rem;
  }
}
@media (width >= 992px) {
  .section-title {
    font-size: 3.2rem;
    padding: 1.5em 5em;
  }
  .section-title::before {
    top: 1.2em;
    left: 4em;
  }
  .about-us__text {
    padding-right: 1em;
    max-width: 60%;
    font-size: 2rem;
  }
  .about-us .wrapper {
    display: flex;
    justify-content: end;
  }
}/*# sourceMappingURL=style.css.map */