@keyframes arrowOne {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 1em);
  }
}
@keyframes arrowTwo {
  from {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 1em);
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.6rem;
  background-color: #333;
  color: white;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.outer-image-box, .mixed-background, .isolated-img {
  -webkit-clip-path: polygon(0 0, 79% 17%, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 79% 17%, 100% 100%, 0 80%);
  z-index: 4;
}

.outer-image-box {
  position: absolute;
  top: 70em;
  left: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 37em;
  background: #f7b939;
}
.outer-image-box .mixed-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f7b939;
  mix-blend-mode: difference;
}
.outer-image-box .isolated-img {
  isolation: isolate;
  width: 99%;
  height: 99%;
}
.outer-image-box .isolated-img img.outer-section-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shadow-line {
  position: absolute;
  bottom: 0;
  transform: translateY(60%);
  width: 120%;
  height: 4em;
  filter: blur(10px);
  background-color: #f7b939;
  z-index: 10;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  height: 100vh;
  background-image: url("../img/header-img.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.header .arrow {
  position: absolute;
  bottom: 3.5em;
  width: 100%;
  height: 10em;
  text-align: center;
}
.header .arrow img {
  position: absolute;
  width: 10em;
  height: 10em;
}
.header .arrow-one {
  animation: arrowOne 1.25s infinite alternate;
}
.header .arrow-two {
  animation: arrowTwo 1.25s infinite alternate;
}
.header .wrapper {
  height: 100%;
}
.header .logo {
  position: absolute;
  width: 15em;
  height: 15em;
  top: -3em;
}
.header-nav {
  position: relative;
  top: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav .nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.header-nav .nav-list .nav-item {
  padding: 1em;
  font-size: 2.3rem;
  text-shadow: 0px 0px 10px rgba(3, 3, 3, 0.9);
  cursor: pointer;
}
.header-nav .nav-list .nav-item a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.header-nav .nav-list .nav-item:hover a {
  color: #f7b939;
}
.header-text {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.header-text .title {
  font-family: "Oswald", sans-serif;
  line-height: 130%;
  letter-spacing: 6px;
  font-weight: normal;
  font-size: 8.4rem;
}
.header-text .text-under {
  font-size: 2rem;
}
.header-text .line {
  position: relative;
  margin-left: 0.5em;
  top: -0.4em;
  height: 3px;
  width: 35%;
  background-color: #fff;
}
.header-text .text-under,
.header-text .line {
  display: inline-block;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.about-us {
  position: relative;
  padding: 2em;
  --p: 3em;
  height: 36em;
  aspect-ratio: 1%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--p)), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--p)), 0 100%);
  background: #f7b939;
  background-blend-mode: difference;
  z-index: 1;
}
.about-us .section-title {
  position: relative;
  text-align: left;
  margin: 0 auto;
  padding: 1.5em 0.5em;
  max-width: 1440px;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: black;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.about-us .section-title::before {
  content: "";
  position: absolute;
  top: 0.8em;
  left: 0em;
  width: 77px;
  height: 32px;
  background-color: white;
  transform: skew(-30deg);
  z-index: -1;
}
.about-us__text {
  text-align: center;
  color: black;
}

.section-ofert {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
  margin-top: -3em;
  height: 600px;
  width: 100%;
  background-color: #222121;
  z-index: -4;
}
.section-ofert .section-title {
  position: relative;
  text-align: right;
  margin: 0 auto;
  padding: 1.5em 0.5em;
  max-width: 1440px;
  font-size: 2.2em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.section-ofert .section-title::before {
  content: "";
  position: absolute;
  top: 1.3em;
  right: 0em;
  width: 77px;
  height: 32px;
  background-color: #f7b939;
  transform: skew(30deg);
  z-index: -1;
}
.section-ofert .wrapper {
  display: flex;
  justify-content: right;
  background-color: #fff;
}
.section-ofert .wrapper .whole-box-ofert {
  height: 300px;
  width: 500px;
  background-color: royalblue;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert {
  display: flex;
  justify-content: space-evenly;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f7b939;
}
.section-ofert .wrapper .whole-box-ofert .box-ofert .ofert .ofert-title {
  position: absolute;
  text-align: center;
  top: 6.5em;
}
@media (width <= 992px) {
  .outer-image-box {
    top: 80em;
    height: 28em;
    width: 60%;
  }
  .about-us {
    height: 28em;
  }
}
@media (width <= 786px) {
  .outer-image-box {
    top: 82em;
    height: 25em;
    width: 60%;
  }
  .header .header-text .title {
    font-size: 6.4rem;
  }
  .header .header-text .text-under {
    font-size: 2rem;
  }
  .header-nav .nav-list .nav-item {
    font-size: 1.8rem;
  }
  .container {
    display: block;
  }
  .card-carousel, .carousel-text {
    display: inline-block;
  }
  .services {
    display: none;
  }
}
@media (width <= 576px) {
  .outer-image-box {
    top: 80em;
    height: 20em;
    width: 60%;
  }
  .header .header-text {
    top: 65%;
  }
  .header .header-text .title {
    font-size: 4.7rem;
    padding-bottom: 0.3em;
  }
  .header .header-text .text-under {
    font-size: 1.8rem;
  }
  .header-nav {
    display: none;
  }
  .header .arrow {
    bottom: 4em;
    height: 6em;
  }
  .header .arrow img {
    width: 7em;
    height: 7em;
  }
}
@media (width <= 440px) {
  .outer-image-box {
    display: none;
  }
}
@media (width >= 576px) {
  .about-us .section-title {
    font-size: 2.7rem;
    padding: 1.5em 2em;
  }
  .about-us .section-title::before {
    top: 1em;
    left: 1em;
  }
  .about-us__text {
    font-size: 2rem;
  }
}
@media (width >= 992px) {
  .about-us .section-title {
    font-size: 3.2rem;
    padding: 1.5em 2em;
  }
  .about-us .section-title::before {
    top: 1.2em;
    left: 1em;
  }
  .about-us__text {
    padding-right: 1em;
    max-width: 60%;
    font-size: 2rem;
  }
  .about-us .wrapper {
    display: flex;
    justify-content: end;
  }
}/*# sourceMappingURL=style.css.map */