@media (width <= 992px){
	.outer-image-box{
		top: 80em;
		height: 28em;
		width: 60%;

	}

	.about-us{
		height: 28em;
	}
}

@media (width <= 786px) {
	.outer-image-box{
		top: 82em;
		height: 25em;
		width: 60%;
	}
	
	.header {
		.header-text {
			.title {
				font-size: 6.4rem;
			}
			.text-under {
				font-size: 2rem;
			}
		}

		&-nav {
			.nav-list {
				.nav-item {
					font-size: 1.8rem;
				}
			}
		}
	}

	.container {
		display: block;
	}

	.card-carousel, .carousel-text {
		display: inline-block;
	}

	.services {
		display: none;
	}
}

@media (width <= 576px) {
	.outer-image-box{
		top: 80em;
		height: 20em;
		width: 60%;
	}

	.header {
		.header-text {
			top: 65%;
			.title {
				font-size: 4.7rem;
				padding-bottom: 0.3em;
			}
			.text-under {
				font-size: 1.8rem;
			}
		}

		&-nav {
			display: none;
		}

		.arrow{
			bottom: 4em;
			height: 6em;

			img{
				width: 7em;
				height: 7em;
			}
		}
	}
}

@media (width <= 440px){
	.outer-image-box{
		display: none;
	}
}

// ==================== Width > x ====================


@media (width >= 576px){
	.about-us {
		.section-title{
			font-size: 2.7rem;
			padding: 1.5em 2em;
			
			&::before{
				top: 1em;
				left: 1em;
			}
		}
		
		&__text{
			font-size: 2rem;
		}
	}
}

@media (width >= 992px) {
	.about-us {
		.section-title{
			font-size: 3.2rem;
			padding: 1.5em 2em;

			&::before{
				top: 1.2em;
				left: 1em;
			}
		}

		&__text{
			padding-right: 1em;
			max-width: 60%;
			font-size: 2rem;
		}

		.wrapper{
			display: flex;
			justify-content: end;
		}
	}
}
