@use "./animations" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  background-color: #333;
  color: white;
}

ol,
ul {
  padding-left: 0;
  margin: 0;
}


.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.outer-image-box,
.mixed-background,
.isolated-img {
  clip-path: polygon(0 0, 79% 17%, 100% 100%, 0 80%);
  z-index: 10;
}

.outer-image-box {
  position: absolute;
  top: 70em;
  left: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 57em;
  background: #f7b939;

  .mixed-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f7b939;
    // mix-blend-mode: difference;
  }

  .isolated-img {
    isolation: isolate;
    width: 99%;
    height: 99%;

    img.outer-section-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.shadow-line {
  position: absolute;
  bottom: 0;
  transform: translateY(60%);
  width: 120%;
  height: 4em;
  filter: blur(10px);
  background-color: #f7b939;
  z-index: 10;
}

.section-title {
  position: relative;
  text-align: left;
  margin: 0 auto;
  padding: 1.5em 0.5em;
  max-width: 1440px;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);

  &::before {
    content: "";
    position: absolute;
    top: 0.8em;
    left: 0em;
    width: 77px;
    height: 32px;
    background-color: white;
    transform: skew(-30deg);
    z-index: -1;
  }
}

// ==================== NAV ====================

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: -100%;
  padding: 0 2em;
  height: 6.3em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.627);
  transition: top 0.3s ease-in-out, height 0.3s;

  z-index: 10000;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    width: 100%;
    height: 100%;
    max-width: 1440px;
  }

  &__logo {
    height: 100%;
    img {
      height: 100%;
      scale: 1.5;
    }
  }

  &__phone {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;

      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-size: 2rem;
      margin: 0;
      color: #f7b939;
    }
  }

  &__list {
    display: none;
    list-style: none;

    a {
      font-size: 2rem;
      color: white;
      padding-right: 2em;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #f7b939;
      }
    }
  }

  &__item {
    &:last-child {
      a {
        padding-right: 0;
      }
    }
  }

  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
    border: none;
    background-color: transparent;

    &__line,
    &::before,
    &::after {
      content: "";
      width: 40px;
      height: 8px;
      background-color: #f7b939;
      transform: skewX(20deg);
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    &.is-opened &__line {
      opacity: 0;
    }

    &.is-opened::before {
      transform: translateY(14px) rotate(135deg) skewX(20deg);
    }

    &.is-opened::after {
      transform: translateY(-14px) rotate(-135deg) skewX(20deg);
    }
  }

  &.opened {
    background-color: #403f3e;
    .nav__logo,
    .nav__phone {
      display: none;
    }

    .nav__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Oswald", sans-serif;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 4rem;
        padding: 1em;
      }
    }

    .nav__btn {
      position: absolute;
      right: 2em;
      top: 2em;
    }

    .nav__container {
      justify-content: center;
    }
    height: 100vh;
  }
}
// ==================== HEADER ====================

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  height: 100vh;
  background-image: url("../img/header-img.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 0;

  .arrow {
    position: absolute;
    bottom: 3.5em;
    width: 100%;
    height: 10em;
    text-align: center;

    img {
      position: absolute;
      width: 10em;
      height: 10em;
    }

    &-one {
      animation: arrowOne 1.25s infinite alternate;
    }

    &-two {
      animation: arrowTwo 1.25s infinite alternate;
    }
  }

  .wrapper {
    height: 100%;
  }

  .logo {
    position: absolute;
    width: 15em;
    height: 15em;
    top: -3em;
  }

  &-nav {
    position: relative;
    top: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-list {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      .nav-item {
        padding: 1em;
        font-size: 2.3rem;
        text-shadow: 0px 0px 10px rgb(3, 3, 3, 0.9);
        cursor: pointer;

        a {
          text-decoration: none;
          color: white;
          transition: color 0.3s;
        }
      }

      .nav-item:hover a {
        color: #f7b939;
      }
    }
  }

  &-text {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
    text-shadow: 0px 0px 10px rgb(0, 0, 0, 0.6);

    .title {
      font-family: "Oswald", sans-serif;
      line-height: 130%;
      letter-spacing: 6px;
      font-weight: normal;
      font-size: 8.4rem;
    }

    .text-under {
      font-size: 2rem;
    }

    .line {
      position: relative;
      margin-left: 0.5em;
      top: -0.4em;
      height: 3px;
      width: 35%;
      background-color: #fff;
    }

    .text-under,
    .line {
      display: inline-block;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

// ==================== ABOUT ====================
.about-us {
  position: relative;
  padding: 2em;
  --p: 3em;
  height: 36em;
  aspect-ratio: 1%;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--p)), 0 100%);
  background: #f7b939;
  background-blend-mode: difference;
  z-index: 10; // Apply blend mode to the section background

  &__text {
    text-align: center;
    color: black;
  }
}

.section-ofert {
  position: relative;
  padding: 2em 0 12em 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
  margin-top: -3em;
  width: 100%;
  background-color: #222121;
  z-index: 9;

  .section-title {
    text-align: right;
    padding: 1.5em 2em;
    font-size: 2.2em;
    color: #fff;

    &::before {
      top: 1.3em;
      left: auto;
      right: 1em;
      background-color: #f7b939;
      transform: skew(30deg);
    }
  }

  .wrapper {
    display: flex;
    justify-content: right;

    .whole-box-ofert {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 300px;
      padding-right: 5%;
      .box-ofert {
        display: flex;
        justify-content: space-evenly;
        gap: 2em;

        .ofert {
          // position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 170px;
          height: 170px;
          border-radius: 50%;
          background-color: #f7b939;

          .img {
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 50%;
          }

          .one {
            background-image: url("../img/Wywrotka.jpg");
          }

          .two {
            background-image: url("../img/rozbiórki.jpg");
          }

          .three {
            background-image: url("../img/digger.jpg");
          }

          .ofert-title {
            font-size: 18px;
            position: absolute;
            text-align: center;
            top: 10em;
          }
        }
      }
    }
  }
  .ofert-button {
    font-family: "PT Sans";
    position: relative;
    bottom: -5em;
    width: 200px;
    height: 60px;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 15px #eb5f33;
    color: #fff;
    background-color: #eb5f33;
    cursor: pointer;
    transition: all 0.3s ease;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 30%;
      height: 100%;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      transition: all 0.5s ease;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &:hover::after {
      bottom: -10px;
      right: -10px;
      border-bottom: 2px solid #eb5f33;
      border-right: 2px solid #eb5f33;
    }

    &:hover::before {
      top: -10px;
      left: -10px;
      border-top: 2px solid #eb5f33;
      border-left: 2px solid #eb5f33;
    }
  }
}

// ==================== MACHINERY ====================

.machinery {
  position: relative;
  top: -8.1em;
  padding: 4em 2em 10em 2em;
  --p: 7em;
  aspect-ratio: 1%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--p)));
  background: #403f3e;
  z-index: 8;

  .section-title {
    color: white;

    &::before {
      background-color: #f7b939;
    }
  }

  &__inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__box {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    position: relative;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 15em;
    background-color: rgba(0, 0, 0, 0.6);
    transform: skewY(7deg);

    &.expanded {
      height: 110%;

      .machinery__title {
        padding-top: 1.35em;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__title,
  &__icon {
    transform: skewY(-7deg);
  }

  &__title {
    padding-top: 1em;
    font-size: 2rem;
    color: white;
  }

  &__icon {
    width: 10em;
    height: 10em;
    opacity: 0.8;
    img {
      width: 100%;
      height: 100%;
    }

    &--small {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 75%;
        height: 75%;
      }
    }
  }

  &__content {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    width: 100%;

    &-item {
      margin-bottom: 1.5em;
      width: 80%;
      height: 10em;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      &:last-child {
        margin-bottom: 0.5em;
      }
    }
  }

  &__triangle {
    position: relative;
    width: 1.3em;
    bottom: 0.2em;
    aspect-ratio: 1 / cos(30deg);
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    transform: rotate(0deg);
    background-color: white;
    transition: transform 0.5s ease-in-out;

    &--active {
      --b: 6px;

      width: 1.3em;
      aspect-ratio: 1 / cos(30deg);
      clip-path: polygon(
        50% 0,
        100% 100%,
        0 100%,
        50% 0,
        50% var(--b),
        calc(var(--b) * cos(30deg)) calc(100% - var(--b) / 2),
        calc(100% - var(--b) * cos(30deg)) calc(100% - var(--b) / 2),
        50% var(--b)
      );
      background-color: white;
      transform: rotate(360deg);
    }
  }
}

//=========realisations=========

.realisations {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-color: #f7b939;
  top: -16em;
  // padding-top: 40px; // Adjusted padding to move the title higher

  // background-color: #f33f02;
  position: relative;
  padding-top: 80px;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0%;
    background-color: #ddd;
  }
}

.row {
  padding-top: 3em;
}

.owl-dots {
  position: relative;
  top: -50px; /* Adjust this value as needed */
}

#customers-testimonials {
  .item-details {
    position: relative;
    text-align: center;
    padding: 20px 10px;
    height: 130px;
    background-color: #333333;
    color: #fff;

    // text-align: left;
    h5 {
      margin: 0 0 15px;
      font-size: 25px;
      font-weight: bold;
      line-height: 18px;
      span {
        color: red;
        float: right;
        padding-right: 20px;
      }
    }
    p {
      position: absolute;
      bottom: 0;
      right: 15px;
      font-size: 14px;
    }
  }
  .img {
    background-image: url("../img/realisation.png");
    background-position: center;
    background-size: cover;
    height: 250px;
    background-color: #fff;
  }
  .item {
    text-align: center;
    // padding: 20px;
    margin-bottom: 80px;
    background-image: url("../img/realisation2.png");
  }
}

.owl-carousel .item {
  position: relative;
  padding: 15px;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.owl-carousel .item .img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.owl-carousel .item .item-details {
  padding: 10px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  background-color: #222121;
  text-align: center;
  position: relative;
  padding: 10em 2em 2em 2em;
  top: -14em;

  div {
    text-align: center;
  }

  p {
    margin-top: 15px;
  }
  
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 3em;
  }
}

@import "./media";
